@import "~bootstrap/scss/bootstrap";

.top-panel {

  .search-bar {
    background-color: $purple-400;
    border-color: $indigo-600;
    color: $blue-100;

    &::placeholder {
      color: $blue-100;
    }
  }
}