@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #575767;
  line-height: 24px;

  .todo-app {
    max-width: 80%;
    margin: 0 auto;

    .btn,
    .form-control {
      border: 1px solid #EBEBEB;
      padding: 8px 16px;
      margin: 4px 8px;
    }

    .btn {
      background-color: #F2F3FF;
    }

    .top-panel {
      display: flex;
    }
  }


}